<div class="progress-container">
  <form [formGroup]="progressForm" (ngSubmit)="getProgress()">
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Month</mat-label>
      <mat-select formControlName="month" required>
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year" required>
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="progressForm.invalid">
      Get Progress
    </button>
  </form>

  <div class="chart-container" *ngIf="progress">
    <h3>Progress for {{ getMonthLabel(progress!.month) }} {{ progress!.year }}</h3>

    <div class="chart-wrapper">
      <canvas *ngIf="totalDurationData" baseChart [data]="totalDurationData" [options]="chartOptions" type="bar"></canvas>
    </div>
    <div class="chart-wrapper">
      <canvas *ngIf="totalWorkoutsData" baseChart [data]="totalWorkoutsData" [options]="chartOptions" type="bar"></canvas>
    </div>
    <div class="chart-wrapper">
      <canvas *ngIf="averageIntensityData" baseChart [data]="averageIntensityData" [options]="chartOptions" type="bar"></canvas>
    </div>
    <div class="chart-wrapper">
      <canvas *ngIf="averageFatigueData" baseChart [data]="averageFatigueData" [options]="chartOptions" type="bar"></canvas>
    </div>
  </div>
</div>
